---

---

<header>
  <!-- Alert banner -->
  <div
    class="bg-madrona-yellow text-sound-navy font-display p-2 text-center text-[20px]"
  >
    CascadiaJS 2026 is SOLD OUT! See you in 2027!
  </div>

  <!-- Primary nav -->
  <nav class="bg-emerald-city-green px-3 py-3 text-center">
    <div class="md:mx-auto md:flex md:w-[70%] md:items-center">
      <!-- Logo -->
      <a href="/" id="logo" class="m-1 pr-[5px]">
        <img
          src="/images/logo-wordmark-horizontal.svg"
          alt="CascadiaJS logo"
          class="inline h-14 w-auto align-baseline"
        />
      </a>

      <!-- Nav links: pushed to the right on desktop, stacked on mobile -->
      <div class="md:ml-auto md:flex md:items-center">
        <a
          href="/2026"
          class="font-display text-sound-navy mt-1 block px-1 text-[21px] font-medium no-underline hover:underline md:mt-0 md:inline-block"
        >
          CascadiaJS 2026
        </a>
        <a
          href="/mailing-list"
          class="font-display text-sound-navy mt-1 block px-1 text-[21px] font-medium no-underline hover:underline md:mt-0 md:ml-4 md:inline-block"
        >
          Newsletter
        </a>
        <a
          href="/code-of-conduct"
          class="font-display text-sound-navy mt-1 block px-1 text-[21px] font-medium no-underline hover:underline md:mt-0 md:ml-4 md:inline-block"
        >
          Code of Conduct
        </a>
      </div>
    </div>
  </nav>
</header>
