---
interface Props {
  src: string;
  title: string;
}

const { src, title } = Astro.props;
---

<div class="relative aspect-video">
  <iframe
    src={src}
    title={title}
    loading="lazy"
    class="absolute inset-0 h-full w-full border-0"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen></iframe>
</div>
